.item {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
}

.paragraph {
  width: 275px;
}

.item::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border: 4px solid rgba(242, 201, 119, 1);
  border-radius: 50%;
}
