.button {
  display: block;
  font-family: inherit;
  border-radius: 6px;
  border-width: 0;
  padding: 10px 28px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: calc(20 / 17);
  color: #000000;
  background: linear-gradient(90deg, #9a762f 0%, #f2c977 100%);
  cursor: pointer;
}

.button:active {
  color: #646262;
  background: linear-gradient(90deg, #9a762f 0%, #f2c977 50%);
}
